spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/expenseiq
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    com.expenseiq: DEBUG
    org.springframework.security: INFO
