spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5434/expenseiq}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    com.expenseiq: INFO
    org.springframework.security: WARN
