spring:
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    com.expenseiq: INFO
    org.springframework.security: WARN
    org.hibernate: WARN
